{{- /* Initialize variables for use in this file */ -}}
{{- $programs := includeTemplate "programs.tmpl" | fromJson -}}
{{- $homeConfig := joinPath .chezmoi.homeDir ".gitconfig" -}}

# vim: noexpandtab: filetype=gitconfig
[user]
    name = {{ .name }}
    email = {{ .email }}

[credential "https://github.com"]
	username = cdonnellytx

[init]
	defaultBranch = main

[core]
	filemode = false
	safecrlf = false

[diff]
	renameLimit = 4000

[help]
	# Autocorrect (2 second wait before autorunning)
	autocorrect = 20

[fetch]
	# Prune remotes on fetch.  One less step, though it could be slightly problematic on some repos:
	# https://stackoverflow.com/a/39862779
	prune = true

[push]
	# simple - ONLY push the current branch, and ONLY if an upstream is linked.
	# current - ONLY push the current branch, even if an upstream is not linked.
	default = current

[pull]
	rebase = true

[rebase]
	# always --update-refs by default, too forgetful.
	updateRefs = true

[alias]
	co = checkout
	st = status
	sw = switch
	unstash = stash pop
	url = config --get remote.origin.url
	# gh commands
	browse = !gh repo view --web --branch $(git branch --show-current)
	pr = !gh pr
	default-branch = !gh repo view --json 'defaultBranchRef' --jq '.defaultBranchRef.name'
	# https://stackoverflow.com/a/25387310
	hide = update-index --assume-unchanged
	unhide = update-index --no-assume-unchanged
	hidden = ! git ls-files -v | grep '^h' | cut -c3-
	show-commit-message = log -n 1  --format='%B'

[filter "lfs"]
	# cdonnelly 2016-11-17 (update 2019-08-26): GitHub Desktop injects this into .gitconfig, so I'm adding it.
	# It also reorders it from time to time, but I don't care about that here.
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true

[gpg "ssh"]
	# Default to our allowed signers.
	allowedSignersFile = "~/.ssh/allowed_signers"

[blame]
	# JBCRAP: Git properly doesn't care if this file exists.  JetBrains' Git library, OTOH, _does_.
	# ignoreRevsFile = .git-blame-ignore-revs
	# markIgnoredLines = true
	# markUnblamableLines = true

[include]
    path="config.d/os/{{ .chezmoi.os }}.conf"
    path="config.d/themes/cdonnelly.conf"
{{- if $programs.delta }}
    path="config.d/tools/delta.conf"
{{- end }}
{{- /* ~/.gitconfig last */ -}}
{{- if (stat $homeConfig) }}
    path={{ $homeConfig | quote }}
{{- end }}
