{{- /* Initialize variables for use in this file */ -}}
{{- $programs := includeTemplate "programs.tmpl" | fromJson -}}
{{- $homeConfig := joinPath .chezmoi.homeDir ".gitconfig" -}}

[user]
    email = {{ .email }}

[include]
{{- if (stat $homeConfig) }}
    path={{ $homeConfig | quote }}
{{- end }}
    path="config.d/common.conf"
    path="config.d/colors.conf"
{{- if $programs.delta }}
    path="config.d/tools.delta.conf"
{{- end }}
    path="config.d/os.{{ .chezmoi.os }}.conf"
