# EditorConfig is awesome:http://EditorConfig.org

# top-most EditorConfig file
root = true

# Don't use tabs for indentation.
[*]
indent_style = space
# Please don't specify the following here, as they have too many unintended consequences:
#   - indent_size
#   - insert_final_newline
#   - charset
#   - trim_trailing_whitespace

# Standard XML files
[*.{xml,xslt,xsd}{,tmpl}]
indent_size = 2
trim_trailing_whitespace = false

[*.tmTheme{,tmpl}]
indent_style = space
indent_size = 2

[*.json{,tmpl}]
indent_size = 2
trim_trailing_whitespace = false

[*.toml{,tmpl}]
indent_size = 2
trim_trailing_whitespace = false

# PowerShell scripts
[*.{ps1,psd1,psm1}{,tmpl}]
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Markdown files
# NOTE: Markdown trailing whitespace is significant.
# @see https://github.com/Microsoft/vscode/issues/1679
[*.{md,markdown}{,tmpl}]
indent_size = 4
charset = utf-8
trim_trailing_whitespace = false