{{- dict
       "bat" (and ($p := lookPath "bat") (base $p))
       "choco" (and ($p := lookPath "choco") (base $p))
       "delta" (and ($p := lookPath "delta") (base $p))
       "gvim" (and ($p := lookPath "gvim") (base $p))
       "sudo" (and ($p := lookPath "sudo") (base $p))
       "pwsh" (and ($p := lookPath "pwsh") (base $p))
       "vim" (and ($p := lookPath "vim") (base $p))
       "winget" (and ($p := lookPath "winget") (base $p))
  | toJson -}}
