{{- $programs := includeTemplate "programs.tmpl" | fromJson -}}
{{- $hostname := .chezmoi.hostname -}}

{{- $name               := promptStringOnce . "name"        "❔ What is your full name" -}}
{{- $email              := promptStringOnce . "email"       "❔ What is your email"     -}}
{{- $github_username    := promptStringOnce . "github.user" "❔ GitHub username"        -}}


{{- /* Machine role */ -}}
{{- $role := "" -}}
{{- $roles := list "personal" "work" }}
{{- if hasPrefix "CAI-" $hostname -}}
{{-     $role = "work" -}}
{{- else if hasSuffix "saurus" $hostname -}}
{{-     $role = "personal" -}}
{{- else if has $hostname (list "synology") -}}
{{-     $role = "personal" -}}
{{- else -}}
{{      $roleChoices := list "personal" "work" "ephemeral" -}}
{{      $role := promptChoice (print "❔ What kind of machine is " $hostname) $roleChoices -}}
{{- end -}}

{{- /* Role collection */ -}}
{{- $roles_aws          := . | dig "roles" "aws"         (list) -}}
{{- $roles_azure        := . | dig "roles" "azure"       (list) -}}
{{- $roles_development  := . | dig "roles" "development" (list "dotnet" "node") -}}
{{- $roles_games        := . | dig "roles" "games"       (list) -}}
{{- $roles_hardware     := . | dig "roles" "hardware"    (list) -}}

{{- /* PATH concatenation */ -}}
{{- $envPathSeparator := ":" -}}
{{- if (eq .chezmoi.os "windows") -}}
{{-     $envPathSeparator = ";" -}}
{{- end -}}

{{- $PSModulePath := list (joinPath .chezmoi.workingTree "lib/modules") -}}
{{- if (eq .chezmoi.os "windows") -}}
{{-     $PSModulePath = append $PSModulePath (joinPath (env "windir") "system32/WindowsPowerShell/v1.0/Modules") -}}
{{- end -}}

{{- /****** Content ******/ -}}

# PowerShell: use Core
[interpreters.ps1]
    command = "pwsh"
    args = ["-NoLogo", "-NoProfile"]

{{ if $programs.delta }}
[diff]
# Using delta for two reasons:
#   1. It highlights the diff AND the underlying file syntax
#   2. It avoids problems with PAGER having command-line switches in them.
command = {{ $programs.delta | toToml }}
pager = {{ $programs.delta | toToml }}
{{ end }}

[env]
PSModulePath = {{ $PSModulePath | join $envPathSeparator | toToml }}

[data]
name = {{ $name | toToml }}
email = {{ $email | toToml }}
role = {{ $role | toToml }}

[data.github]
user = {{ $github_username | toToml }}

[data.roles]
aws = {{ $roles_aws | toToml }}
azure = {{ $roles_azure | toToml }}
development = {{ $roles_development | toToml }}
games = {{ $roles_games | toToml }}
hardware = {{ $roles_hardware | toToml }}
