{{- $programs := includeTemplate "programs.tmpl" | fromJson -}}
{{- $work := false -}}{{/* true if this machine is a work machine */}}
{{- $personal := false -}}{{/* true if this machine is a personal machine */}}

{{- if hasPrefix "CAI-" .chezmoi.hostname -}}
{{-     $work = true -}}
{{- else -}}
{{-     $personal = true -}}
{{- end -}}

{{- $email := "" -}}
{{- if $work -}}
{{-     $email = print "chris.donnelly@" "coxautoinc.com" -}}
{{- else -}}
{{-     $email = print "cdonnelly@" "69bytes.com" -}}
{{- end -}}

# PowerShell: use Core
[interpreters.ps1]
    command = "pwsh"
    args = ["-NoLogo", "-NoProfile"]

[diff]
{{- if $programs.delta }}
    # Using delta for two reasons:
    #   1. It highlights the diff AND the underlying file syntax
    #   2. It avoids problems with PAGER having command-line switches in them.
    command = {{ $programs.delta | toToml }}
    pager = {{ $programs.delta | toToml }}
{{- end }}

[env]
    PSModulePath = {{ joinPath .chezmoi.workingTree "lib/modules"  | toToml }}

[data]
    email = {{ $email | toToml }}
    personal = {{ $personal | toToml }}
    work = {{ $work | toToml }}
