// chezmoi:template:left-delimiter="// {{"
{
  // {{- $role := get . "role" -}}
  // {{- $work := eq $role "work" -}}
  // {{- $personal := eq $role "personal" -}}
  "$schema": "https://aka.ms/winget-packages.schema.2.0.json",
  "CreationDate": "2024-12-13T09:35:14.026-06:00",
  "Sources": [
    {
      "Packages": [
        // Core tools
        { "PackageIdentifier": "7zip.7zip" },
        { "PackageIdentifier": "AgileBits.1Password" },
        { "PackageIdentifier": "AgileBits.1Password.CLI" },
        { "PackageIdentifier": "BurntSushi.ripgrep.MSVC" },
        { "PackageIdentifier": "Chocolatey.Chocolatey" },
        { "PackageIdentifier": "dandavison.delta" },
        { "PackageIdentifier": "Git.Git" },
        { "PackageIdentifier": "JAMSoftware.TreeSize.Free" },
        { "PackageIdentifier": "JanDeDobbeleer.OhMyPosh", "Scope": "user" },
        { "PackageIdentifier": "jftuga.less" },
        { "PackageIdentifier": "junegunn.fzf" },
        { "PackageIdentifier": "Microsoft.MouseandKeyboardCenter" },
        { "PackageIdentifier": "Microsoft.OneDrive" },
        { "PackageIdentifier": "Microsoft.PowerToys" },
        { "PackageIdentifier": "Microsoft.Teams" },
        { "PackageIdentifier": "Microsoft.WindowsTerminal" },
        { "PackageIdentifier": "Microsoft.WSL" },
        { "PackageIdentifier": "Mozilla.Firefox", "Scope": "machine" },
        { "PackageIdentifier": "Obsidian.Obsidian" },
        { "PackageIdentifier": "REALiX.HWiNFO" },
        { "PackageIdentifier": "ScooterSoftware.BeyondCompare.4" },
        { "PackageIdentifier": "SlackTechnologies.Slack" },
        { "PackageIdentifier": "sharkdp.bat" },
        { "PackageIdentifier": "vim.vim" },
        { "PackageIdentifier": "Zoom.Zoom" },

        // {{ if (lt (atoi .chezmoi.windowsVersion.currentBuild) 26052) -}}
        // sudo
        { "PackageIdentifier": "gerardog.gsudo", "Scope": "machine" },
        // {{- else -}}
        // sudo: https://devblogs.microsoft.com/commandline/introducing-sudo-for-windows/
        // {{- end }}

        // Browsers (other)
        { "PackageIdentifier": "Google.Chrome" },
        { "PackageIdentifier": "Microsoft.Edge" },

        // {{ if (eq $role "personal") -}}
        // Personal tools
        { "PackageIdentifier": "Discord.Discord", "Scope": "user" },
        { "PackageIdentifier": "Logitech.GHUB" },
        // {{- end }}

        // {{ if .roles.games -}}
        // Games
        { "PackageIdentifier": "Valve.Steam" },
        { "PackageIdentifier": "WhirlwindFX.SignalRgb" },
        // {{- end }}

        // {{ if .roles.development -}}
        // Development
        { "PackageIdentifier": "Docker.DockerDesktop" },
        { "PackageIdentifier": "GitHub.cli" },
        { "PackageIdentifier": "GitHub.GitHubDesktop" },
        { "PackageIdentifier": "GnuPG.Gpg4win" },
        { "PackageIdentifier": "Insomnia.Insomnia" },
        { "PackageIdentifier": "JetBrains.Toolbox" },
        { "PackageIdentifier": "Microsoft.DevHome" },
        { "PackageIdentifier": "Microsoft.PerfView" },
        { "PackageIdentifier": "Microsoft.VisualStudioCode" },
        { "PackageIdentifier": "Microsoft.WebDeploy" },
        { "PackageIdentifier": "Microsoft.WinDbg" },
        { "PackageIdentifier": "Microsoft.WindowsADK" },
        { "PackageIdentifier": "SQLite.SQLite" },
        { "PackageIdentifier": "Telerik.Fiddler.Classic" },
        { "PackageIdentifier": "TortoiseGit.TortoiseGit" },

        // {{ if (has "dotnet" .roles.development) -}}
        // .NET
        { "PackageIdentifier": "KirillOsenkov.MSBuildStructuredLogViewer" },
        { "PackageIdentifier": "Microsoft.NuGet" },
        { "PackageIdentifier": "RicoSuter.NSwagStudio" },
        // {{- end }}

        // {{ if (has "go" .roles.development) -}}
        // Golang
        { "PackageIdentifier": "GoLang.Go" },
        // {{- end }}

        // {{ if (has "node" .roles.development) -}}
        // Node
        { "PackageIdentifier": "CoreyButler.NVMforWindows", "Scope": "user" },
        // {{- end }}

        // {{ if (has "python" .roles.development) -}}
        // Python
        // Packages are based on minor version and not easy to choose.
        { "PackageIdentifier": "Python.Python.3.13", "Scope": "user" },

        // {{- end }}

        // {{- end }}

        // {{- if .roles.aws -}}
        { "PackageIdentifier": "Amazon.AWSVPNClient" },
        // {{ if (has "cli" .roles.aws) -}}
        { "PackageIdentifier": "Amazon.AWSCLI" },
        // {{- end }}
        // {{- end }}
      ],
      "SourceDetails": {
        "Argument": "https://cdn.winget.microsoft.com/cache",
        "Identifier": "Microsoft.Winget.Source_8wekyb3d8bbwe",
        "Name": "winget",
        "Type": "Microsoft.PreIndexed.Package"
      }
    },
    {
      "Packages": [
        { "PackageIdentifier": "9NBHCS1LX4R0", "Title": "Paint.NET" },
        { "PackageIdentifier": "9MZ1SNWT0N5D", "Title": "PowerShell" },
        { "PackageIdentifier": "9P7KNL5RWT25", "Title": "Sysinternals Suite" },
        { "PackageIdentifier": "9PDXGNCFSCZV", "Title": "Ubuntu" },

        // {{ if .roles.games -}}
        { "PackageIdentifier": "XPDM5VSMTKQLBJ", "Title": "Battle.net" }, // standalone installer requires additional args(!)
        // {{- end }}
      ],
      "SourceDetails":
      {
        "Argument": "https://storeedgefd.dsx.mp.microsoft.com/v9.0",
        "Identifier": "StoreEdgeFD",
        "Name": "msstore",
        "Type": "Microsoft.Rest"
      }
    }
  ],
  "WinGetVersion": "1.10.40-preview"
}
