#requires -version 7 -modules bootstrap.ux, bootstrap.os
[CmdletBinding(SupportsShouldProcess)]
param()

<#
{{- $configPath := joinPath .chezmoi.workingTree "assets/windows/sysinternals/ProcmonConfiguration.pmc" -}}
assets/windows/sysinternals/ProcmonConfiguration.pmc hash: {{ include $configPath | sha256sum }}
#>

Invoke-Operation "Configure Process Monitor" {
    $config = Get-Item -LiteralPath "{{ $configPath }}"
    # MSCRAP: If procmon is run as adminstrator, it exits with code 1.  Why? IDK.
    try
    {
        procmon /LoadConfig $config.FullName /accepteula /terminate
    }
    catch
    {
        if ($LASTEXITCODE -eq 1 -and (Test-IsAdministrator))
        {
            Write-Verbose "Ran as administrator; procmon exited with code 1.  This is fine."
            return
        }

        throw $_
    }
}
