#requires -version 7 -modules Microsoft.PowerShell.Utility

<#
.SYNOPSIS
Import WinGet installed apps.
Will install apps if not found but not upgrade them.
#>
[CmdletBinding(SupportsShouldProcess)]
param()

<#
{{- $wingetManifest := joinPath .chezmoi.workingTree "assets/winget.json.tmpl" -}}
assets/winget.json hash: {{ include $wingetManifest | sha256sum }}
#>

$wingetManifestTemplate = "{{ $wingetManifest }}" | Get-Item -ErrorAction Stop

$wingetManifest = New-TemporaryFile -WhatIf:$false
$wingetManifestTemplate | Get-Content -Raw | chezmoi execute-template --output $wingetManifest

Write-Verbose "winget file template at ${wingetManifest}"

Invoke-Operation "Import WinGet manifest" -WhatIf:$WhatIfPreference {
    # MSCRAP: Microsoft.WinGet.Client has export but NOT import (1.10.40-beta)
    winget import --import-file $wingetManifest --no-upgrade --accept-package-agreements --accept-source-agreements --disable-interactivity
    if (!$?)
    {
        Write-Error ("winget exited with code 0x{0:X8}" -f $LASTEXITCODE)
    }
}