#requires -Version 7 -Modules bootstrap.chezmoi, bootstrap.registry -RunAsAdministrator

<#
.SYNOPSIS
Enable builtin Windows sudo (Windows 11 24H2 and later).
.NOTES
- 0 - disabled
- 1 - new window
- 2 - with input disabled
- 3 - inline
#>
[CmdletBinding(SupportsShouldProcess)]
param()

{{- if (ge (atoi .chezmoi.windowsVersion.currentBuild) 26052) -}}
Confirm-RegistryEntry -LiteralPath 'HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Sudo' -Name 'Enabled' -PropertyType DWORD -Value 3
{{- end -}}
