{{if .work}}
<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Global.ISS" value="https://artifactory.coxautoinc.com/artifactory/api/nuget/v3/iss-nuget"/>
    <add key="Global.vAuto" value="https://artifactory.coxautoinc.com/artifactory/api/nuget/v3/vauto-nuget" protocolVersion="3" />
    <add key="Global.VinSolutions" value="https://artifactory.coxautoinc.com/artifactory/api/nuget/v3/vin-nuget" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <Global.ISS>
      <add key="Username" value="%ARTIFACTORY_USERNAME%" />
      <add key="ClearTextPassword" value="%ARTIFACTORY_API_KEY%" />
    </Global.ISS>
    <Global.vAuto>
      <add key="Username" value="%ARTIFACTORY_USERNAME%" />
      <add key="ClearTextPassword" value="%ARTIFACTORY_API_KEY%" />
    </Global.vAuto>
    <Global.VinSolutions>
      <add key="Username" value="%ARTIFACTORY_USERNAME%" />
      <add key="ClearTextPassword" value="%ARTIFACTORY_API_KEY%" />
    </Global.VinSolutions>
  </packageSourceCredentials>
</configuration>
{{end}}