{
  "$schema": "https://aka.ms/winget-packages.schema.2.0.json",
  "CreationDate": "2024-12-13T09:35:14.026-06:00",
  "Sources": [
    {
      "Packages": [
        // Core tools
        { "PackageIdentifier": "7zip.7zip" },
        { "PackageIdentifier": "AgileBits.1Password" },
        { "PackageIdentifier": "AgileBits.1Password.CLI" },
        { "PackageIdentifier": "BurntSushi.ripgrep.MSVC" },
        { "PackageIdentifier": "dandavison.delta" },
        { "PackageIdentifier": "gerardog.gsudo" },
        { "PackageIdentifier": "Git.Git" },
        { "PackageIdentifier": "JAMSoftware.TreeSize.Free" },
        { "PackageIdentifier": "JanDeDobbeleer.OhMyPosh" },
        { "PackageIdentifier": "jftuga.less" },
        { "PackageIdentifier": "Microsoft.MouseandKeyboardCenter" },
        { "PackageIdentifier": "Microsoft.OneDrive" },
        { "PackageIdentifier": "Microsoft.PowerToys" },
        { "PackageIdentifier": "Microsoft.Teams" },
        { "PackageIdentifier": "Microsoft.WindowsTerminal" },
        { "PackageIdentifier": "Microsoft.WSL" },
        { "PackageIdentifier": "Mozilla.Firefox" },
        { "PackageIdentifier": "Obsidian.Obsidian" },
        { "PackageIdentifier": "REALiX.HWiNFO" },
        { "PackageIdentifier": "ScooterSoftware.BeyondCompare.4" },
        { "PackageIdentifier": "SlackTechnologies.Slack" },
        { "PackageIdentifier": "sharkdp.bat" },
        { "PackageIdentifier": "vim.vim" },

        // Browsers (other)
        { "PackageIdentifier": "Google.Chrome" },
        { "PackageIdentifier": "Microsoft.Edge" },

        // {{ if .personal }} Personal tools
        { "PackageIdentifier": "Discord.Discord", "Scope": "user" },
        { "PackageIdentifier": "Logitech.GHUB" },
        // {{ end }}

        // {{ if .personal }} Games
        { "PackageIdentifier": "Valve.Steam" },
        // {{ end }}


        // {{- if .development -}} Development
        { "PackageIdentifier": "CoreyButler.NVMforWindows" },
        { "PackageIdentifier": "Docker.DockerDesktop" },
        { "PackageIdentifier": "GitHub.cli" },
        { "PackageIdentifier": "GitHub.GitHubDesktop" },
        { "PackageIdentifier": "GnuPG.Gpg4win" },
        { "PackageIdentifier": "JetBrains.Toolbox" },
        { "PackageIdentifier": "KirillOsenkov.MSBuildStructuredLogViewer" },
        { "PackageIdentifier": "Microsoft.DevHome" },
        { "PackageIdentifier": "Microsoft.NuGet" },
        { "PackageIdentifier": "RicoSuter.NSwagStudio" },
        { "PackageIdentifier": "Microsoft.PerfView" },
        { "PackageIdentifier": "Microsoft.VisualStudioCode" },
        { "PackageIdentifier": "Microsoft.WebDeploy" },
        { "PackageIdentifier": "Microsoft.WindowsADK" },
        { "PackageIdentifier": "SQLite.SQLite" },
        { "PackageIdentifier": "Telerik.Fiddler.Classic" },
        { "PackageIdentifier": "TortoiseGit.TortoiseGit" }
        // {{- /* LATER: PYTHON Python.Python.3.12 */ -}}
        // {{- end }}
      ],
      "SourceDetails": {
        "Argument": "https://cdn.winget.microsoft.com/cache",
        "Identifier": "Microsoft.Winget.Source_8wekyb3d8bbwe",
        "Name": "winget",
        "Type": "Microsoft.PreIndexed.Package"
      }
    },
    {
      "Packages": [
        { "PackageIdentifier": "9mz1snwt0n5d", "Title": "PowerShell" },
        { "PackageIdentifier": "9p7knl5rwt25", "Title": "Sysinternals Suite" },
        { "PackageIdentifier": "9NBHCS1LX4R0", "Title": "Paint.NET" },

        // {{ if .personal }} Games
        { "PackageIdentifier": "XPDM5VSMTKQLBJ", "Title": "Battle.net" } // standalone installer requires additional args(!)
        // {{- end }}
      ],
      "SourceDetails":
      {
        "Argument": "https://storeedgefd.dsx.mp.microsoft.com/v9.0",
        "Identifier": "StoreEdgeFD",
        "Name": "msstore",
        "Type": "Microsoft.Rest"
      }
    }
  ],
  "WinGetVersion": "1.10.40-preview"
}
