{{- $role := get . "role" -}}
<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Fonts -->
  <package id="FiraCode" />
  <package id="nerd-fonts-BigBlueTerminal" />
  <package id="nerd-fonts-CascadiaCode" />
  <package id="nerd-fonts-FiraCode" />

  <!-- Tools -->
  <package id="unzip" />
  <package id="zip" />

  {{- if (and .roles.games (has "nvidia" .roles.hardware)) }}
  <package id="nvidia-display-driver" />
  {{- end}}

  {{- if (eq $role "work")}}
  <package id="UrlRewrite" />
  {{- end}}
</packages>