<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
  xmlns="http://maven.apache.org/SETTINGS/1.1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <id>cai-ddc</id>
      <username>${env.ArtifactoryUser}</username>
      <password>${env.ArtifactoryPassword}</password>
    </server>
    <server>
      <id>cai-eds</id>
      <username>${env.ArtifactoryUser}</username>
      <password>${env.ArtifactoryPassword}</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>cai-ddc</id>
      <repositories>
        <repository>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <releases>
            <enabled>true</enabled>
          </releases>
          <id>cai-ddc</id>
          <name>cai-ddc</name>
          <url>https://artifactory.coxautoinc.com/artifactory/ddc-maven</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <releases>
            <enabled>true</enabled>
          </releases>
          <id>cai-ddc</id>
          <name>cai-ddc-plugins</name>
          <url>https://artifactory.coxautoinc.com/artifactory/ddc-maven</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
    <profile>
      <id>cai-eds</id>
      <repositories>
        <repository>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <releases>
            <enabled>true</enabled>
          </releases>
          <id>cai-eds</id>
          <name>cai-eds</name>
          <url>https://artifactory.coxautoinc.com/artifactory/eds-maven</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <releases>
            <enabled>true</enabled>
          </releases>
          <id>cai-eds</id>
          <name>cai-eds-plugins</name>
          <url>https://artifactory.coxautoinc.com/artifactory/eds-maven</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <mirrors>
    <mirror>
      <id>cai-ddc</id>
      <name>Our artifactory server - you should only see this if you specified a repo in your pom explicitly</name>
      <url>https://artifactory.coxautoinc.com/artifactory/ddc-maven</url>
      <mirrorOf>external:*</mirrorOf>
    </mirror>
    <mirror>
      <id>cai-eds</id>
      <name>Our artifactory server - you should only see this if you specified a repo in your pom explicitly</name>
      <url>https://artifactory.coxautoinc.com/artifactory/eds-maven</url>
      <mirrorOf>external:*</mirrorOf>
    </mirror>
  </mirrors>
  <!-- <activeProfiles>
    <activeProfile>cai-ddc</activeProfile>
    <activeProfile>cai-eds</activeProfile>
  </activeProfiles> -->
</settings>
